body, html { min-width: 320px; height: 100%; margin: 0; padding: 0; font-size: 20px; background-color: #000; font-family: Helvetica;text-align:center }

a { text-decoration: underline; }

button, input, select, textarea { outline: 0; -webkit-appearance: none; }

li { list-style-type: none; }

ol, ul { -webkit-margin-before: none; -webkit-margin-after: none; }

.outWrap { height: 100%; width: 100%; position: absolute; background: #fff; }

.mainWrap { display: none; }

.mainWrapMar { padding-bottom: 3rem !important; }

.tran { -webkit-transition: all .3s ease-out; }

.moveRight { -webkit-transform: translate3d(100%,0,0) !important; }

.comeIn { -webkit-transform: translate3d(0,0,0) !important; }

.moveLeft { -webkit-transform: translate3d(-100%,0,0) !important; }

* { margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0); }

.hidden { display: none; }

.show { display: block !important; }

.mainBody { position: relative; width: 100%; }

.view-container { position: relative; width: 100%; height: 100%; overflow: auto; }

.page-container { position: absolute; z-index: 1; top: 0; left: 0; text-align: center; bottom: 0; right: 0; width: 100%; height: 100%; padding: 0; overflow: auto; background-color: #F8F8F8; -webkit-transform: translate3d(0,0,0); -webkit-backface-visibility: hidden; }

    .page-container content { min-height: 100%; width: 100%; position: absolute; top: 0; left: 0; }

.page-num { position: absolute; top: 50%; left: 50%; width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; font-size: 72px; }

.slideSlow { -webkit-transition: -webkit-transform 400ms cubic-bezier(0.42,0,.58,1) .1s; -ms-transition: transform 400ms cubic-bezier(0.42,0,.58,1) .1s; }

.slideFast { -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42,0,.58,1); -ms-transition: transform 300ms cubic-bezier(0.42,0,.58,1); }

.slideSlowBack { -webkit-transition: -webkit-transform 400ms cubic-bezier(0.42,0,.58,1); -ms-transition: transform 400ms cubic-bezier(0.42,0,.58,1); }

.slideFastBack { -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42,0,.58,1) .1s; -ms-transition: transform 300ms cubic-bezier(0.42,0,.58,1) .1s; }

.pageInt { -webkit-transform: translateX(0); transform: translateX(0); }

.pageOld { -webkit-transform: translateX(-100%); transform: translateX(-100%); }

.pageNew { -webkit-transform: translateX(100%); transform: translateX(100%); }

#phonePage content { background: #fff; background-repeat: no-repeat; background-size: 100%; height: 100%; padding-bottom: 0; min-height: inherit; }

#phonePage .user-face { height: 80%; }

.dialogWrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); z-index: 80000; }
   .dialogWrap .roleWrap{  position: absolute;  width: 90%;  height: 400px;  left: 5%; top: 50%; margin-top: -220px; background: url(../img/rule_01.png) 0 0 no-repeat;  background-size: cover; }
    .dialogWrap > div { overflow: hidden; z-index: 8001; -webkit-transform: translate(0,-50px);  -webkit-transition: all .3s ease-out; opacity: 0; -webkit-overflow-scrolling: touch; }

    .dialogWrap .close { position: absolute; width: 23px; height: 23px; right: 0; top: 0; z-index: 8002; }

        .dialogWrap .close img { width: 100%; height: 100%; }

     .dialogWrap h1, .dialogWrap h3{font-size: 16px; padding: 5px 0;}
    
    .dialogWrap .center{text-align: center;}
.roleWrap { width: 90%; position: relative; height: 20rem; border-radius: .5rem; text-align: left; line-height: 18px; }
    .roleWrap p{margin-bottom: 5px;}
    .roleWrap div { box-sizing: border-box; height: 100%; overflow: scroll; padding:20px 10px 10px 10px; font-size: 14px; color: #5e151e; }

.show { -webkit-transform: translate(0,0) !important; opacity: 1 !important; }

.phoneInputWrap { width: 100%; height: 13rem; bottom: 30% !important; background: url(../img/phone_04.png?t=1); background-size: 100% 100%; padding-top: 3rem; text-align: center; float: left; }

    .phoneInputWrap h1 { font-size: 1rem; margin-top: 2rem; color: #bc1e00; font-weight: 700; }

    .phoneInputWrap h2 { font-size: .85rem; font-weight: 400; color: #bc1e00; line-height: 1.5rem; }

    .phoneInputWrap input { border: 0; background: #350709; box-shadow: 0 0 5px #fff; padding: 0; margin: 0; font-size: .8rem; -webkit-appearance: none; border-radius: 0.5rem; }

        .phoneInputWrap input#txt_PhoneNumber { height: 2.5rem; width: 88%; color: #fff300; padding-left:2%}
        .phoneInputWrap input#txt_PhoneNumber::-webkit-input-placeholder { color: #bbbbbb; }

        .phoneInputWrap input#text_verifyCode { height: 2.5rem; width: 55%; vertical-align: middle;  color: #fff300;padding-left:2% }
        .phoneInputWrap input#text_verifyCode::-webkit-input-placeholder { color: #bbbbbb; }

    .phoneInputWrap .btuGetCode { margin-left: 3%; width: 30%; border: solid 1px #decbb1; height: 2.5rem; vertical-align: middle; box-shadow: 0 0 5px #fff; background: #5a0c10; border-radius: 0.5rem; font-size: 0.8rem; color: #fffa00; }

    .phoneInputWrap .getSubmit { width: 100%; margin-top: .5rem; padding-top: .5rem; }

        .phoneInputWrap .getSubmit button {border-radius: 0.5rem; width: 90%; background: #820803; height: 2.8rem; vertical-align: middle; color: #fff400; box-shadow: 0 0 5px #fff; font-size: 1rem; border: solid 1px #deb1b1; }

.floatWindow { width: 60%; min-height: 1.4rem; display: table; margin: auto; overflow: auto; position: fixed; z-index: 100000; top: 0; left: 0; bottom: 0; right: 0; background: rgba(51, 51, 51, 0.85); color: #fff; text-shadow: 0 0 transparent; border: solid 1px #666; border-radius: 0.3em; opacity: 0; font-size: 0.5rem; line-height: .85rem; }
.floatWindow_bottom { top: auto; bottom: 5%; }
.floatWindow_top { bottom: auto; top: 5%; }
.floatWindow h2 { width: 100%; text-align: center; }
.floatWindow p { border: solid 0px #000; margin: 0.3rem; font-size: 0.7rem; text-align: center; line-height: 1rem; }

#txt_phone2 { width: 90%; height: 2rem; border: solid 1px #ccc; font-size: 1rem; }

.singleBtu { border-radius: 0 0 .7rem .7rem !important; width: 100% !important; }

#alertWrap { display: none; }

.footer_app { position: fixed; width: 100%; color: #fff; height: 4.5rem; text-align: center; bottom: 0; background: url(http://img14.360buyimg.com/cms/jfs/t2278/276/643203285/29229/6b04c654/561e4032Ndddfd9d1.png?t=1) no-repeat; background-size: 100% 100%; z-index: 10000; }

    .footer_app p { margin: 5px 0; font-size: .85rem; }

        .footer_app p button { margin: 0; border: 0; width: 70%; height: 2.1rem; background: #d53745; color: #fff; font-size: 1rem; font-weight: 700; border-radius: 8px; }

/*.weakLayer { position: absolute; z-index: 10000; background: url(http://img11.360buyimg.com/cms/jfs/t1735/188/547580560/32139/3caefcff/55d355a1N90688a61.png?t=1); top: 0; left: 0; width: 100%; height: 100%; background-size: 100% 100%; display: none; }
*/
#loading { position: fixed; left: 0; top: 0; width: 100%; font-size: .7rem; height: 100%; text-align: center; z-index: 500000; background: rgba(0,0,0,.5); color: #eee; display: none; }

    #loading > div { width: 7rem; margin: 0 auto; margin-top: 50%; background: #000; padding: 1rem; border-radius: .5rem; opacity: .8; }

    #loading img { margin-bottom: 1rem; width: 1.5rem; }

.alertWrap2 { position: fixed; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); z-index: 8999; }

    .alertWrap2 .alert { width: 90%; display: table; padding-top: 45px; padding-bottom: 60px; overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: url(../img/alert.jpg) 0 0 no-repeat; background-size: cover; border-radius: .3rem; -webkit-transform: scale(0.8,.8); opacity: 0; -webkit-transition: all .2s ease-out; z-index: 20000; color: #e22b2a; }

    .alertWrap2 .alertActive { opacity: 1; -webkit-transform: scale(1,1) !important; }

    .alertWrap2 .alert h1 { font-size: 1.2rem; text-align: center; line-height: 1.5rem;  }

    .alertWrap2 .alert i { position: absolute; width: 30px; height: 30px; right: 4px; top: 4px; display: none; cursor: pointer; }

    .alertWrap2 .alert span { font-size: .9rem;  display: block; text-align: center; padding: .5rem .5rem 1rem .5rem; color: #5e151e;}

    .alertWrap2 .alert .buttonWrap { width: 100%; position: absolute; left: 0; bottom: 20px;  text-align: center;  height: 2rem; border-radius: 0 0 .7rem .7rem; overflow: hidden; }

    .alertWrap2 .alert button {border: 0; background: #e22b2a; width: 50%; line-height: 2rem; font-size: 16px; color: #ffd571; }

        .alertWrap2 .alert button:active { background: #ccc; }

        .alertWrap2 .alert button:first-child { border-radius: 0 0 0 5px; }

        .alertWrap2 .alert button:nth-child(2n) { border-left: solid 1px #999; border-radius: 0 0 5px; }

    .alertWrap2 .singleBtu { border-radius: 5px !important; width: 80% !important; }

#alertWrap2 { display: none; }

#introducePage { height: 100%； overflow-y:scroll; -webkit-overflow-scrolling: touch; }

.introduce img { display: block; width: 100%; }

.introduce-btn { position: relative; }

    .introduce-btn > a { position: absolute; width: 94%; height: 45px; top: 23%; left: 3%; }

    .introduce-btn > span { position: absolute; width: 40%; height: 45px; top: 77%; left: 30%; }

.trickets-list { position: relative; overflow: hidden; }

    .trickets-list .trickets-list-wrap { position: absolute; left: 0; top: 22%; overflow: scroll; -webkit-overflow-scrolling: touch; width: 100%; }

    .trickets-list ol { position: relative; padding-left: 10px; overflow: hidden; }

        .trickets-list ol li { float: left; width: 100px; height: 116px; margin-right: 10px; background: #f0eeec; border-radius: 3px; }

        .trickets-list ol img { box-sizing: border-box; height: 90px; width: 100px; display: block; padding: 5px 5px 0; }

        .trickets-list ol p { line-height: 26px; font-size: 12px; color: #000; }

.footer-more { position: relative; }

    .footer-more span { position: absolute; width: 50%; height: 27%; }

    .footer-more a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

    .footer-more span:nth-child(1) { left: 0; top: 17%; }

    .footer-more span:nth-child(2) { left: 50%; top: 17%; }

    .footer-more span:nth-child(3) { left: 0; top: 50%; }

    .footer-more span:nth-child(4) { left: 50%; top: 50%; }

#phonePage { height: 100%； overflow-y:scroll; -webkit-overflow-scrolling: touch; }

.phone-num { position: relative; }

    .phone-msg img, .phone-num > img { display: block; width: 100%; }

.face-num img { position: absolute; }

.face-img { position: absolute; width: 82%; height: 48.81%; left: 9%; top: 5%; z-index: 4000; }

    .face-img img { position: absolute; width: 100%; left: 0; top: 0; }

    .face-img .img-wrap { position: absolute; top: 10%; width: 85.4%; left: 7.3%; height: 74%; overflow: hidden; }

        .face-img .img-wrap img { position: static; width: 100%; }

.face-num img:nth-child(1), .face-num img:nth-child(2) { width: 100%; left: 0; top: 36%; z-index: 3000; }

.face-num p { position: absolute; width: 80%; left: 10%; top: 90%; font-size: 18px; color: #ffe659; line-height: 20px; z-index: 1000; }

.face-num img:nth-child(2) { z-index: 2000; }

.face-num span { position: absolute; width: 30%; left: 35%; top: 65%; z-index: 3500; color: #fffd7a; font-size: 70px; font-weight: 700; }
    .face-num span em { font-style: normal; font-size: 20px; }
.phone-msg { position: relative; }

    .phone-msg button, .phone-msg input { box-sizing: border-box; position: absolute; outline: 0; -webkit-appearance: none; border: 0; background: 0 0; }

        .phone-msg input[name=phone] { width: 91%; left: 4%; top: 18%; padding: 2%; font-size: 15px; color: #fffd7a; height: 15%; }

        .phone-msg input[name=verifyCode] { width: 46%; left: 4%; top: 36%; padding: 2%; font-size: 15px; color: #fffd7a; height: 15%; }

        .phone-msg button[name=getCode] { width: 42%; left: 54%; top: 36%; height: 15%; }

        .phone-msg button[name=next] { width: 92%; left: 4%; top: 67%; height: 15%; }

#prizePage { height: 100%； overflow-y:scroll; -webkit-overflow-scrolling: touch; }

.prize-info { position: relative; font-weight: 700; }

    .prize-info img { display: block; width: 100%; }

    .prize-info p { position: absolute; left: 11%; top: 19%; color: #cf0f01; font-size: 20px; line-height: 28px; }

    .prize-info span { font-size: 22px; line-height: 28px; color: #ff001a; }

.prize-info em { position: absolute; right: 24%; top: 12%; font-style: normal; color: #fffd7a; font-size: 30px; }

.prize-info i { position: absolute; width: 22%; line-height: 30px; right: 13%; top: 27.5%; color: #dc512b; font-style: normal; font-size: 18px; }

.fail { position: absolute; height: 100%; background: url(../img/fail.jpg?t=1) 0 0 no-repeat; background-size: cover; }

    .fail img { display: block; width: 100%; }

    .fail span { position: absolute; left: 4%; top: 70%; width: 92%; height: 40px; }

.support-con { position: relative;  overflow: hidden;}

    .support-con > img { display: block; width: 100%; }

.support-detail p { position: absolute; width: 65%; left: 29%; top: 7.5%; color: #f5d754; font-size: 15px; line-height: 20px; }

.support-detail .user-wrap { position: absolute; left: 4.6875%; top: 5.5546%; }

.user-logo { width: 50px; height: 50px; border-radius: 50%; overflow: hidden; }

    .user-logo img { width: 100%; }
#supportPage .user-face{top: 18.1%; height: 22.4%}
#supportPage .face-num img:nth-child(1), .face-num img:nth-child(2){top: 42%}
#supportPage .face-num span{top: 51%}
.support-num{color: #f5d754; position: absolute; width: 100%; top: 64.5%;}
.support-num .support-num-title{ font-weight: bold; margin-bottom: 10px; font-size: 20px;}
#supportPage .support-num .support-num-con span{ font-size: 20px;  display: block; text-align: center; font-weight: bold; padding-bottom: 5px;}
.support-num .support-num-con { font-size: 14px; }
.support-detail .user-wrap .user-name { top: 55px; }

.support-detail .support-btn, .support-detail .support-play { position: absolute; width: 45%; height: 43px; left: 4%; top: 78.5%; }

.support-detail .support-play {left: 52%;}

.support-rule { position: absolute; width: 40%; height: 40px; right: 0%; top: 1%; }

.user-face { position: absolute; width: 70%; height: 29.3%; background-size: 100% auto; left: 15%; top: 31.4%; overflow: hidden; background-size: auto 100%; background-repeat: no-repeat; background-position: center; }

    .user-face img { width: 100%; }

.user-name { position: absolute; width: 50px; text-align: center; left: 4.6875%; top: 18%; color: #ffe659; font-size: 12px; }

#resultPage { overflow-y: scroll; -webkit-overflow-scrolling: touch; background: url(../img/result_06.jpg?t=1) 0 0 repeat-y; background-size: 100%; }

.result-con { position: relative; }

    .result-con > img { display: block; width: 100%; }

.result-text { position: absolute; color: #fbc86c; font-size: 14px; width: 92%; left: 4%; top: 84%; }

.result-con .user-logo { position: absolute; left: 15px; top: 10px; }

.result-top { position: absolute; left: 0; top: 0; width: 100%; height: 70px; background: rgba(0,0,0,.2); }

    .result-top .user-name { left: 71px; width: auto; }

.result-con .user-face { top: 21.3%; }
.user-face .J_faceImg { top: 15.33%; }

.result-con p { position: absolute; color: #ffe659; width: 70px; font-size: 18px; top: 26px; left: 65px; line-height: 1; }

.result-number { position: absolute; top: 73.5%; width: 100%; font: 18px; font-weight: 700; padding: 15px 0; color: #ffe659; display: none; text-align: center; }

.result-list ul { padding-bottom: 200px; overflow: hidden; background: url(../img/result_06.jpg?t=1) 0 0 repeat-y; background-size: 100%; margin-top: 10px; }

.result-list li { display: table; float: left; height: 50px; width: 20%; margin-top: 10px; }

    .result-list li span { display: table-cell; vertical-align: middle; }

    .result-list li img { vertical-align: middle; width: 50px; height: 50px; border-radius: 50%; }

.result-rule { position: absolute; top: 2%; right: 0;  height: 23px; width: 80px; background: url(../img/result_rule.png) 0 0 no-repeat; background-size: 100%; }

#listPage { overflow-y: scroll; -webkit-overflow-scrolling: touch; }

.list-con { color: #ffe659; font-size: 18px; background: #810d14 url(../img/list_02.jpg?t=1) 0 0 no-repeat; background-size: cover; text-align: left; }

    .list-con > img { width: 44%; margin-left: 28%; margin-top: 10px; margin-bottom: 5px; }

    .list-con li { box-sizing: border-box; width: 90%; margin: 0 5%; height: 80px; border-top: 1px dashed rgba(255,255,255,.18); }

    .list-con ul img { width: 100%; height: 100%; border-radius: 50%; }

    .list-con ul div { float: left; height: 50px; width: 50px; margin-top: 10px; border-radius: 50%; padding: 3px; border: 2px solid rgba(166,14,21,.4); border: 2px solid rgba(255,255,255,.4); overflow: hidden; }

    .list-con span { float: left; margin-left: 10px; line-height: 80px; }
#dialoguePage { overflow: hidden; background: #ebebeb; height: 100%;}
    #dialoguePage content { min-height: 0; height: 100%; }
.dialogue-con {position: relative; overflow: hidden; height: 100%; }

    .dialogue-con .left { float: left; }
    .dialogue-con .right { float: right; }

.dialogue-fixed img { position: fixed; left: 0; bottom: 0; width: 100%; }
.dialogue-con ul {height: 100%; overflow-y: scroll; padding: 20px 10px 80px 10px; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
.dialogue-con li { padding-bottom: 20px; overflow: hidden; opacity: 0; transition: opacity .8s ease; }

.dialogue-con .on { opacity: 1 }
.dialogue-con .fn-opacity img{opacity: 0.5}
.dialogue-con .fn-opacity #J_dialogueNext img{opacity: 1}

.dialogue-con li:nth-child(1) img { width: 58.125%; }

.dialogue-con li:nth-child(2) img { width: 81.25%; }

.dialogue-con li:nth-child(3) img { width: 79.6875%; }

.dialogue-con li:nth-child(4) img { width: 67.8125%; }

.dialogue-con li:nth-child(5) img { width: 79.6875%; }

.dialogue-con li:nth-child(6) img { width: 79.5%; }

.dialogue-con li:nth-child(7) img { width: 79.6875%; }

.dialogue-con li:nth-child(8) img { width: 64.375%; }

.phone-msg button[name=getCode] { font-size: 16px; color: #ffe659; }

.fn-rotate-sun { animation: rotate 10s linear infinite; -webkit-animation: rotate 10s linear infinite; }
#appIntroducePage{overflow-y: scroll; -webkit-overflow-scrolling: touch; }
#introducePage #J_camera{top: 41%; height: 60px;}
#introducePage .introduce-rule{position: relative;}
#introducePage .introduce-rule span{position: absolute; top: 3%; right: 0; width: 120px; height: 40px;}
#prizePage .face-num span{left: 18.75%; top: 58%; font-size: 48px; width: auto;} 
#prizePage .face-num em{font-size: 16px;} 
#prizePage .user-face { height: 69%; top: 7% }
#prizePage .prize-info { position: absolute; top: 54%; width: 100%; height: 15%;}
#prizePage .prize-info em{ width: 22.1875%; text-align: center; top: 5%; right: 14.53125%; color: #ffe659; line-height: 1; font-size: 36px;}
#prizePage .prize-info i{ width: 22.1875%; top: 47%; text-align: center; right: 14.53125%; }
#prizePage .prize-info small{ font-size: 14px;}
#prizePage .prize-share-btn { position: absolute; bottom: 2%; width: 90%; left: 5%; height: 10%;}
#prizePage .introduce-share{display: none; position: fixed; left: 0; top: 0; z-index: 20000; width: 100%; height: 100%; text-align: center; background: rgba(0, 0, 0, .8);}
#prizePage .introduce-share img{width: 76%; margin: 0 auto}
#resultPage .result-text span{display: block; text-align: center; font-size: 20px; font-weight: bold; color: #ffe659}
#supportPage .support-num-style{width:  90%; margin-left: 5%; text-align: left;}
@keyframes rotate {
    from { transform: rotate(0deg); }

    to { transform: rotate(360deg); }
}

table, tr, td { margin: 0; padding: 0; }
.trickets-list-wrap { width: 100%; height: 130px; overflow: auto; }
.tableList { height: 116px; width: 500px; }
    .tableList td:first-child p { margin-left: 10px; }
    .tableList td { height: 116px; text-align: center; vertical-align: middle; }
        .tableList td div { background: #f5f3f1; display: block; width: 100px; border-radius: 2px; margin-right: 10px; margin-right: 10px; }
        .tableList td > div { display: block; width: 100px; height: 116px; }
        .tableList td:first-child > div{margin-left: 10px}
        .tableList td div img { width: 90px; height: 90px; padding: 5px 5px 0 5px; }
        .tableList td div span { display: block; line-height: 21px; color: #000; font-size: 12px; }
        .tableList td div p { height: 90px; width: 90px; border: 5px solid #f5f3f1;  border-bottom: 0; background-size: auto 100%; margin: 0!important;}
    .tableList .feefg { background: #f5f3f1 url(../img/compensate.png?t=1) 0 0 no-repeat; background-size: 100% 100%; }

@media screen and (max-width: 375px) {
    .face-num span { top: 66.1%; font-size: 2.9rem; }
}

@media screen and (max-width: 320px) {

    #prizePage .face-num span{top: 57.5%;} 

    .face-num p { font-size: 16px; }

    .prize-info p { top: 18%; }

    .prize-info em { font-size: 26px; top: 12%; }

    #prizePage  .prize-info i { position: absolute; width: 22%; line-height: 22px;  top: 49.2%; color: #dc512b; font-style: normal; font-size: 14px; }

    .user-name { width: 50px; }

    .user-logo { width: 50px; height: 50px; }

    .user-face { /* height:180px; */ }
    .support-detail p { top: 7%; left: 30%; font-size: 13px;}
    .result-list li img { width: 50px; height: 50px; }

    .result-list ul { top: 82%; }
    .result-list p { }
    .result-number { top: 70%; }

    .support-num{ top: 64%;}
    .support-num .support-num-title{ margin-bottom: 6px; font-size: 18px;}
    .support-num .support-num-con span{ font-size: 18px;  }
    .support-num .support-num-con { font-size: 12px; }
}

@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2) {
    .result-list p { top: 86%; }
}
