<div id="phoneView" guid="mainScreen" class="phoneView bgSize-full" style="background-image: url('http://img20.360buyimg.com/cms/jfs/t2596/70/1330904594/19792/12013cc7/573c090eN9a29e9d4.jpg');">
    <div class="dragArea center brn bgSize-full cu-m" dragset="y" guid="p4_v1_m9_77063607" m="m9" con="true" ratio="750,750" style="width: 100%; top: 15.3%; height: 318px; background-image: url('http://img10.360buyimg.com/cms/jfs/t2596/83/1432693107/85931/121ee73c/573eb24cNeb4b5f08.png');">
        <span zoom="true" class="cu-z"></span>
    </div>

    <div class="bgArea center brn bgSize-full" dragset="none" zoomset="x,y" guid="p2_p2_v3_m1_26396626" m="m1" con="true" ratio="448,319" style="height: 28.125rem; width: 100.3%; background-image: none;">
        <span zoom="true" class="cu-z"></span><div class="dragArea center brn bgSize-full cu-m" dragset="y" guid="p2_p2_v3_m9_09235873" m="m9" con="true" ratio="838,750" style="width: 100%; top: 8.7%; height: 354.195px; background-image: url('http://img14.360buyimg.com/cms/jfs/t2824/29/1486401698/65711/ca635c25/573ff0beN78182ea9.png');">
            <span zoom="true" class="cu-z"></span><div class="textAreaWrap tc cu-m" dragset="y" guid="p2_p2_v3_m3_5411963" m="m3" style="top: 21.7%;">
                <span role="text" style="font-size: 1.5rem; line-height: 2rem; color: rgb(255, 234, 0);">
                    您已经领过优惠券啦<br>
                    明天再来吧
                </span>
            </div>
            <div class="buttonWrap center" dragset="y" guid="p2_p2_v3_m2_63122796" m="m2" style="top: 98.3%; height: 10.2%; width: 84.2%;"><button class="bgSize-full" style="font-size: 1rem; border-radius: 0.3rem; background-color: rgb(255, 234, 0);">朕明天再来</button><span zoom="true" class="cu-z"></span></div>
        </div>
    </div><div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p2_p2_v3_m1_24046889" m="m1" con="true" style="height: 8.6875rem; width: 90%; background-image: none;">
        <span zoom="true" class="cu-z"></span><div class="textAreaWrap tl cu-m" dragset="y" guid="p2_p2_v3_m3_60096679" m="m3">
            <span role="text" style="font-size: 0.8rem; line-height: 1.1rem; color: rgb(254, 249, 251);">
                活动规则<br>
                1,您可在2016年6月6日—6月23日期间，每天在京东钱包首页下拉彩蛋领取一张夺宝券<br>
                2,夺宝券面值1元，可在京东全包夺宝吧内使用，在支付金额满5元及以上是可自动抵扣1元<br>
                3,此夺宝券有效期为3天，请在有效期内使用，过期失效
            </span>
        </div>
    </div>
</div>