<div id="phoneView" guid="mainScreen" class="phoneView bgSize-full" style="background-image: url('http://img20.360buyimg.com/cms/jfs/t2596/70/1330904594/19792/12013cc7/573c090eN9a29e9d4.jpg');">
    <div class="dragArea center brn bgSize-full" dragset="y" guid="p4_v1_m9_67318332" m="m9" con="true" ratio="750,750" style="width: 100%; top: 18%; height: 318px; background-image: url('http://img10.360buyimg.com/cms/jfs/t2596/83/1432693107/85931/121ee73c/573eb24cNeb4b5f08.png');">
        <span zoom="true" class="cu-z"></span>
    </div>
    <div class="dragArea center brn bgSize-full" dragset="y" guid="p4_v1_m9_35024949" m="m9" con="true" ratio="1334,750" style="width: 100%; height: 565.616px; background-image: url('http://img13.360buyimg.com/cms/jfs/t2758/363/1427330301/79404/7e78c659/573ec96eNdff3330e.png');">
        <span zoom="true" class="cu-z"></span>
        <div class="buttonWrap center" dragset="y" guid="p4_v1_m2_94777238" m="m2" style="top: 72.7%; height: 7.6%; width: 75.5%;">
            <button class="bgSize-full" style="font-size: 1rem; border-radius: 0.3rem; background-color: rgb(255, 234, 0);">朕要去抢彩蛋</button><span zoom="true" class="cu-z"></span>
        </div>
    </div>
</div>