<div id="phoneView" guid="mainScreen" class="phoneView bgSize-full" style="background-image: url('http://img20.360buyimg.com/cms/jfs/t2596/70/1330904594/19792/12013cc7/573c090eN9a29e9d4.jpg');">
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p2_p2_v4_m1_78882407" m="m1" con="true" style="height: 5rem; width: 100%; background-image: none;">
        <span zoom="true" class="cu-z"></span>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p2_p2_v4_m1_48203935" m="m1" con="true" style="height: 318px; background-image: url('http://img10.360buyimg.com/cms/jfs/t2596/83/1432693107/85931/121ee73c/573eb24cNeb4b5f08.png');" ratio="750,750">
        <span zoom="true" class="cu-z"></span>
    </div>
    <div class="dragArea brn bgSize-full" dragset="x,y" guid="p2_p2_v4_m9_15939131" m="m9" con="true" ratio="798,750" style="width: 100%; top: 6.7%; left: 0%; height: 338.352px; background-image: url('http://img10.360buyimg.com/cms/jfs/t2692/260/1565902383/89862/7b9bf9e2/5742bdd0Ne04d6e68.png');">
        <span zoom="true" class="cu-z"></span>
        <div class="dragArea brn bgSize-full cu-m" dragset="x,y" guid="p2_p2_v4_m9_20708232" m="m9" con="true" style="height: 24.4%; width: 31.4%; top: 55.1%; left: 5.7%; background-image: none;">
            <span zoom="true" class="cu-z"></span>
            <div class="textAreaWrap tr cu-m" dragset="y" guid="p2_p2_v4_m3_79873380" m="m3" style="top: 8.8%;">
                <span role="text" style="font-size: 4rem; line-height: 5rem; color: rgb(231, 15, 73);" class="fwb fsi">1</span>
            </div>
        </div>
        <div class="textAreaWrap tc cu-m" dragset="y" guid="p2_p2_v4_m3_69633497" m="m3" style="top: 82.4%;">
            <span role="text" style="font-size: 0.8rem; line-height: 1rem;">支付满1元即可使用 有效期至2016年X月X日</span>
        </div>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p2_p2_v4_m1_76732780" m="m1" con="true" style="height: 3.625rem; width: 98.4%; background-image: none;">
        <span zoom="true" class="cu-z"></span>
        <div class="buttonWrap center cu-m" dragset="y" guid="p2_p2_v4_m2_22647502" m="m2" style="top: 10.7%; height: 75%; width: 93.9%;">
            <button class="bgSize-full" style="font-size: 1rem; border-radius: 0.3rem; background-color: rgb(255, 234, 0);">朕要去夺宝</button><span zoom="true" class="cu-z"></span>
        </div>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p2_p2_v4_m1_88753491" m="m1" con="true" style="height: 8.8125rem; width: 90%; background-image: none;">
        <span zoom="true" class="cu-z"></span>
        <div class="textAreaWrap tl cu-m" dragset="y" guid="p2_p2_v4_m3_82999221" m="m3" style="top: 0%;">
            <span role="text" style="font-size: 0.8rem; line-height: 1.1rem; color: rgb(254, 249, 251);">
                活动规则<br>
                1,您可在2016年6月6日—6月23日期间，每天在京东钱包首页下拉彩蛋领取一张夺宝券<br>
                2,夺宝券面值1元，可在京东全包夺宝吧内使用，在支付金额满5元及以上是可自动抵扣1元<br>
                3,此夺宝券有效期为3天，请在有效期内使用，过期失效
            </span>
        </div>
    </div>
</div>