<div id="phoneView" guid="mainScreen" class="phoneView bgSize-full" style="background-image: url('http://img20.360buyimg.com/cms/jfs/t2596/70/1330904594/19792/12013cc7/573c090eN9a29e9d4.jpg');">
    <div class="dragArea center brn bgSize-full" dragset="y" guid="p4_v1_m9_86176449" m="m9" con="true" style="height: 40.8%; width: 94.7%; top: 24.5%; background-image: none; background-color: rgb(255, 255, 255);">
        <span zoom="true" class="cu-z"></span>
        <div class="textAreaWrap tc" dragset="y" guid="p4_v1_m3_86103751" m="m3">
            <span role="text" style="font-size: 1.5rem; line-height: 2rem;">等等，就差一步啦</span>
        </div>
        <div class="textAreaWrap tc" dragset="y" guid="p4_v1_m3_68743465" m="m3" style="top: 14.4%;">
            <span role="text" style="font-size: 1rem; line-height: 1rem;">请输入手机号领取</span>
        </div>
        <div class="textInputWrap" dragset="x,y" guid="p4_v1_m4_17791573" m="m4" style="width: 95.4%; height: 19.1%; top: 27%; left: 2.3%;">
            <span zoom="true" class="cu-z"></span>
            <input type="text" placeholder="请输入你的手机号" maxlength="30" style="font-size: 1rem; background-color: rgb(238, 238, 238);">
        </div>
        <div class="textInputWrap" dragset="x,y" guid="p4_v1_m4_04371178" m="m4" style="width: 59.6%; height: 17.8%; top: 49.6%; left: 2.6%;">
            <span zoom="true" class="cu-z"></span>
            <input type="text" placeholder="请在此输入验证码" maxlength="30" style="font-size: 1rem;">
        </div>
        <div class="buttonWrap" dragset="x,y" guid="p4_v1_m2_4722910" m="m2" style="top: 50%; height: 17.4%; width: 33.1%; left: 64.2%;">
            <button class="bgSize-full" style="font-size: 1rem; border-radius: 0.3rem;">获取验证码</button><span zoom="true" class="cu-z"></span>
        </div>
        <div class="buttonWrap" dragset="x,y" guid="p4_v1_m2_48531824" m="m2" style="top: 71.3%; height: 21.3%; width: 95.4%; left: 2%;">
            <button class="bgSize-full" style="font-size: 1.2rem; color: rgb(255, 255, 255); background-color: rgb(204, 51, 102);">领取</button><span zoom="true" class="cu-z"></span>
        </div>
    </div>
</div>