<div id="phoneView" guid="mainScreen" class="phoneView bgSize-full boderStress" style="background-image: url('//img30.360buyimg.com/wympay/jfs/t2728/92/848670302/69410/fa40c991/57285344N3c314ace.png');">
    <div class="dragArea center brn bgSize-full" dragset="y" guid="p1_v1_m9_02812370" m="m9" con="true" ratio="694,750" style="width: 100%; top: 22.2%; height: 294.256px; background-image: url('//img14.360buyimg.com/wympay/jfs/t2671/285/900737150/66822/c584f562/5729be42N8be6915f.png');">
        <span zoom="true" class="cu-z"></span>
        <div class="buttonWrap" dragset="x,y" guid="p1_v1_m2_67618069" m="m2" style="top: 65.8%; height: 12%; width: 42.5%; left: 29.6%;">
            <button class="bgSize-full buttonSkin_1" style="font-size: 0.7rem; color: rgb(219, 62, 78); background-color: rgb(254, 220, 86);">分享给小伙伴们</button><span zoom="true" class="cu-z"></span>
        </div>
        <div class="textAreaWrap tc" dragset="y" guid="p5_v10_m3_56057556" m="m3" style="top: 9.9%;">
            <span role="text" style="font-size: 1.2rem; line-height: 1.5rem; color: rgb(219, 62, 78);">
                恭喜你<br>
                获得发大礼包的机会
            </span>
        </div>
        <div class="dragArea center brn bgSize-full" dragset="y" guid="p5_v10_m9_65727441" m="m9" con="true" style="height: 19.2%; width: 58.5%; top: 29.5%; background-image: none;"><span zoom="true" class="cu-z"></span><div class="textAreaWrap tc" dragset="y" guid="p5_v10_m3_51033748" m="m3"><span role="text" style="font-size: 0.8rem; line-height: 1rem;">分享大礼包给微信好友，领取后在消费时抵用</span></div></div><div class="buttonWrap" dragset="x,y" guid="p5_v10_m2_8819443" m="m2" style="top: -13%; height: 11.3%; width: 10.7%; left: 82.4%;"><button class="bgSize-full" style="font-size: 1.5rem; background-image: url('//img12.360buyimg.com/wympay/jfs/t2620/112/921679636/3701/808ab273/572b21d1N271999b3.png'); background-color: transparent;"></button><span zoom="true" class="cu-z"></span></div>
    </div>
</div>