<div id="phoneView" guid="mainScreen" class="phoneView bgSize-cover bgSize-contain" style="background-image: none; background-color: rgb(255, 255, 255);">
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p5_v12_m1_32303226" m="m1" con="true" style="height: 5.25rem; width: 100.3%; background-image: none;">
        <span zoom="true" class="cu-z"></span>
        <div class="dragArea brn bgSize-full cu-m" dragset="x,y" guid="p5_v12_m9_73455826" m="m9" con="true" style="height: 73.2%; width: 19.4%; top: 8.2%; left: 5.7%; background-image: none; background-color: rgb(204, 102, 0);">
            <span zoom="true" class="cu-z"></span>
        </div>
        <div class="dragArea brn bgSize-full cu-m" dragset="x,y" guid="p5_v12_m9_40504905" m="m9" con="true" style="height: 59.8%; width: 67.7%; top: 16.5%; left: 28.6%; background-image: none;">
            <span zoom="true" class="cu-z"></span>
            <div class="textAreaWrap tl cu-m" dragset="y" guid="p5_v12_m3_56468525" m="m3" style="top: 0%;">
                <span role="text" style="font-size: 0.7rem; line-height: 1rem;">我送你1个大红包，可在消费时抵用，快拆开看看吧！</span>
            </div>
        </div>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p5_v12_m1_90733286" m="m1" con="true" ratio="638,670" style="width: 90%; height: 272.34px; background-image: url('//img10.360buyimg.com/wympay/jfs/t2614/76/871816764/8947/701da7a6/572996f9Na2b38e58.png');">
        <span zoom="true" class="cu-z"></span>
        <div class="textAreaWrap tc cu-m" dragset="y" guid="p5_v12_m3_32724007" m="m3" style="top: 11.9%;">
            <span role="text" style="font-size: 1rem; line-height: 1rem; color: rgb(248, 227, 73);">请输入手机号立即领取</span>
        </div>
        <div class="textInputWrap center cu-m" dragset="y" guid="p5_v12_m4_22303886" m="m4" style="width: 85.3%; height: 14%; top: 27.8%;">
            <span zoom="true" class="cu-z"></span>
            <input type="text" placeholder="&nbsp; 您的手机号码" maxlength="15" style="font-size: 0.9rem; border-color: transparent; border-radius: 1.5rem;">
        </div>
        <div class="textInputWrap cu-m" dragset="x,y" guid="p5_v12_m4_84129623" m="m4" style="width: 47.2%; height: 14%; top: 48.9%; left: 7.7%;">
            <span zoom="true" class="cu-z"></span>
            <input type="text" placeholder="&nbsp; 输入验证码" maxlength="6" style="font-size: 0.9rem; border-color: transparent; border-radius: 1.5rem;">
        </div>
        <div class="buttonWrap cu-m" dragset="x,y" guid="p5_v12_m2_56913842" m="m2" style="top: 49.6%; height: 14%; width: 35.7%; left: 57.3%;">
            <button class="bgSize-full" style="font-size: 0.9rem; color: rgb(151, 81, 46); background-image: url('//img10.360buyimg.com/wympay/jfs/t2776/129/870868284/4930/3eaa8734/57299893N4fe53123.png'); background-color: transparent;">获取验证码</button><span zoom="true" class="cu-z"></span>
        </div>
        <div class="buttonWrap cu-m" dragset="x,y" guid="p5_v12_m2_96483364" m="m2" style="top: 71.1%; height: 14%; width: 85.3%; left: 9.1%;">
            <button class="bgSize-full" style="font-size: 0.9rem; color: rgb(151, 81, 46); background-image: url('//img11.360buyimg.com/wympay/jfs/t2821/77/908285066/5109/48c11b59/5729995aN8e5f7894.png'); background-color: transparent;">打开红包</button><span zoom="true" class="cu-z"></span>
        </div>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p5_v12_m1_41649817" m="m1" con="true" style="height: 3rem; width: 100%; background-image: none;">
        <span zoom="true" class="cu-z"></span>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p5_v12_m1_95351504" m="m1" con="true" style="width: 100%; background-image: none; background-color: rgb(238, 238, 238);">
        <span zoom="true" class="cu-z"></span>
        <div class="textAreaWrap tc" dragset="y" guid="p5_v12_m3_60667270" m="m3" style="top: 7.2%;">
            <span role="text" style="font-size: 0.8rem; line-height: 1rem;"><i style="color:#999;background:url(//img13.360buyimg.com/wympay/jfs/t2752/254/866947447/2813/4a505d65/572ab77aNdbcff0fc.png) repeat-x;width:7rem;height:1rem;display:inline-block"></i>&nbsp;人品英雄榜&nbsp;<i style="color:#999;background:url(//img13.360buyimg.com/wympay/jfs/t2752/254/866947447/2813/4a505d65/572ab77aNdbcff0fc.png) repeat-x;width:7rem;height:1rem;display:inline-block"></i></span>
        </div>
        <div class="customeAreaDemo" guid="p5_v12_m7_63945724" m="m7" con="true"><div class="customeAreaDemo" style="padding:2rem 0"> <div style="width:90%;margin:0 auto;height:4.5rem;position:relative;border-bottom:solid 1px #d6d6d6">              <table style="width:100%;margin-top:1rem"><tbody><tr><td style="width:18%">  <img src="//img14.360buyimg.com/wympay/jfs/t2710/354/809449379/10881/34407345/5728677fN323a74de.png" style="width:3rem">  </td><td style="width:52%">  <h4 style="font-weight:normal">不若随风</h4>  <span style="font-size:0.8rem;color:#ad9f8f;margin-top:0.4rem;display:inline-block">09.17 11:50</span>  </td><td style="width:20%;color:#e83d4b;font-size:1.2rem">  1.25元  </td></tr></tbody></table>  </div> </div></div>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p5_v12_m1_34624121" m="m1" con="true" style="height: 55.968px; background-image: url('//img10.360buyimg.com/wympay/jfs/t2599/177/863249229/7770/abf4f209/57299b10N302f9cd7.png');" ratio="132,750">
        <span zoom="true" class="cu-z"></span>
    </div>
</div>