<div id="phoneView" guid="mainScreen" class="phoneView">
    <style type="text/css">
        @charset "UTF-8";
        /*支持中文注释*/
        /*css reset start*/
        .phoneView { padding: 0; margin: 0; list-style: none; border: 0; font-weight: normal; font-style: normal; }

        .phoneView { font-family: "Helvetica Neue", 'STHeiti', 'Microsoft YaHei', 'SimSun', Arial; font-size: 20px; color: #000; background-color: #fff; }
            .phoneView a, .phoneView a:visited { text-decoration: none; }

                .phoneView a:hover { text-decoration: none; }
            .phoneView img { display: block; }
            .phoneView input, .phoneView select, .phoneView textarea, .phoneView button { outline: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; }
            .phoneView .tpWarp { padding: 20px; }
            .phoneView .tpContent { margin-top:10px}
                .phoneView .tpWarp h1 { font-size: 24px;color: #333; }
                .phoneView .tpWarp time { display: block; color: #999; font-size: 14px; margin-top: 10px; }
                .phoneView .tpContent p, .phoneView .tpContent > div div { margin-top: 20px; font-size: 14px; line-height: 26px; color: #666; }
                .phoneView .tpContent img { display: block; max-width: 100%; margin: 20px auto; }

                .phoneView div[contenteditable] h1 { font-size: 24px;color: #333; }
                .phoneView div[contenteditable] time { display: block; color: #999; font-size: 14px; margin-top: 10px; }
                .phoneView div[contenteditable] p, .phoneView div[contenteditable] div { margin-top: 20px; font-size: 14px; line-height: 26px; color: #666; }
                .phoneView div[contenteditable] img { display: block; max-width: 100%; margin: 20px auto; }

            .phoneView .tpInfo { display: none; }
    </style>
    <link rel="icon" href="/p/assets/favicon.ico" type="image/x-icon">
    <div class="tpWarp">
        <div class="tpInfo">
            <div id="title">
                title
            </div>
            <div id="description">
                description
            </div>
        </div>
        <div class="tpContent">
            <h1 edit="word">填入标题</h1>
            <time edit="word">2016-05-05</time>
            <div edit="word&Img">
                <p>买基金是属于投资理财的概念，属于专家理财的概念，追求稳健投资的人适合买基金，新手，无投资经验的人，年轻人，不会存钱的月光族，老人和有些闲钱的学生都适合买基金，这是一种比较好的理财方式，也可以说是懒人理财方式，把钱交给基金公司的专家打理，安心干自己的工作，当然不是所有的人都适合买基金，比如投机家和天生赌性比较强的人最好是玩股票，还有就是风险承受能力高的人，喜欢高收益又可以承担高风险的人，这类人最好是玩期货或者股票，没有耐心进行长线投资的人也不适合买基金。</p>
                <img src="http://img13.360buyimg.com/cms/jfs/t2644/297/3134789347/153945/f8fca431/5784987aNce36d16f.jpg">
            </div>
        </div>
    </div>

</div>
