<div id="phoneView" guid="mainScreen" class="phoneView bgSize-full" style="background-image: none; background-color: rgb(252, 65, 81);">
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p1_v1_m1_31774116" m="m1" con="true" ratio="1219,640" style="height: 601.88125px; background-image: url(http://img12.360buyimg.com/cms/jfs/t2485/110/2456617074/103497/a652f336/5707f087N586fc00d.png);">
        <span zoom="true" class="cu-z" style="display: none;"></span>
        <div class="dragArea center brn bgSize-full cu-m" dragset="y" guid="p1_v1_m9_10965719" m="m9" con="true" ratio="651,640" style="width: 100%; top: 31.6%; height: 321.43125px; background-image: url(http://img10.360buyimg.com/cms/jfs/t2200/2/2480263405/62807/9fab7571/570d026dNa6b1fabd.png);">
            <span zoom="true" class="cu-z" style="display: none;"></span>
            <div class="dragArea center brn bgSize-full cu-m" dragset="y" guid="p1_v1_m9_0864237" m="m9" con="true" style="height: 76%; width: 76%; top: 4.4%; background-image: url(http://img12.360buyimg.com/cms/jfs/t2680/134/279769321/69728/4412d371/570bc861N9e2a4a83.png);">
                <span zoom="true" class="cu-z" style="display: none;"></span>
                <div class="dragArea center brn bgSize-full cu-m" dragset="y" guid="p1_v1_m9_55109860" m="m9" con="true" style="height: 29.5%; width: 32.4%; top: 34.4%; background-image: url(http://img12.360buyimg.com/cms/jfs/t2632/307/278479519/16766/8cd36af6/570bc9cbN1040dd30.png);">
                    <span zoom="true" class="cu-z" style="display: none;"></span>
                </div>
            </div>
        </div>
        <div class="textAreaWrap tc cu-m" dragset="y" guid="p1_v1_m3_73453787" m="m3" style="top: 86.3%;">
            <span role="text" style="font-size: 0.8rem; line-height: 1rem; color: rgb(255, 255, 255);">您的剩余抽奖次数为&nbsp;<strong style="color:#ffd928;font-size:1.3rem">0</strong>&nbsp;次</span>
        </div>
        <div class="dragArea center brn bgSize-full" dragset="y" guid="p1_v1_m9_39628779" m="m9" con="true" style="height: 5.8%; width: 78%; top: 91.5%; background-image: url(http://img10.360buyimg.com/cms/jfs/t2494/15/2520935659/16813/53aa6d88/570bd9a7Ne4d4b323.png);">
            <span zoom="true" class="cu-z" style="display: none;"></span>
            <div class="textAreaWrap tc cu-m" dragset="y" guid="p1_v1_m3_32086792" m="m3" style="top: 12.5%;">
                <span role="text" style="font-size: 0.8rem; line-height: 1rem; color: rgb(255, 255, 255);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阿**** 获得1000元运动基金</span>
            </div>
        </div>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p1_v1_m1_69499868" m="m1" con="true" style="height: 2.5rem; width: 100%; background-image: none;">
        <span zoom="true" class="cu-z"></span>
        <div class="dragArea center brn bgSize-full cu-m" dragset="y" guid="p1_v1_m9_72313873" m="m9" con="true" style="width: 100%; height: 44.24px; background-image: url(http://img10.360buyimg.com/cms/jfs/t1909/315/2540153625/37137/ac17bc3b/570e0273N149ac1cb.png);" ratio="84,600">
            <span zoom="true" class="cu-z"></span>
        </div>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p1_v1_m1_15916300" m="m1" con="true" style="height: 15rem; width: 90%; background-image: none; background-color: rgb(225, 55, 70);">
        <span zoom="true" class="cu-z"></span>
    </div>
    <div class="bgArea center brn bgSize-full cu-m" dragset="none" zoomset="x,y" guid="p3_v4_m1_89492224" m="m1" con="true" ratio="238,318" style="height: 15rem; background-image: none;"><span zoom="true" class="cu-z" style="display: block;"></span><div class="dragArea center brn bgSize-full cu-m" dragset="y" guid="p3_v4_m9_1975385" m="m9" con="true" ratio="406,640" style="width: 100%; top: 8%; height: 200.4625px; background-image: url(http://img11.360buyimg.com/cms/jfs/t2908/93/330804822/49798/59deb7bc/570e156fN1be166d9.png);"><span zoom="true" class="cu-z"></span></div></div>
</div>