<div id="phoneView" guid="mainScreen" class="phoneView">
    <div class="bgArea center brn bgSize-full" dragset="none" zoomset="x,y" guid="p1_v6_m1_07697651" m="m1" con="true" style="height: 296.634375px; background-image: url(http://img10.360buyimg.com/cms/jfs/t2221/46/2434997371/176376/a580128a/56d7edf9N083222fc.jpg);" ratio="597,640">
        <span zoom="true" class="cu-z" style="display: none;"></span>
        <div class="buttonWrap" dragset="x,y" guid="p1_v6_m2_5211873" m="m2" style="top: 70.8%; height: 16.9%; width: 50.6%; left: 26.1%;">
            <button class="bgSize-full" style="background-image: none; background-color: transparent;"></button><span zoom="true" class="cu-z"></span>
        </div>
        <div class="textAreaWrap tc" dragset="y" guid="p1_v6_m3_8388524" m="m3" style="top: 88.8%;">
            <span role="text" style="font-size: 0.8rem; line-height: 1rem;">这是文案组件，可以自由调整</span>
        </div>
    </div>
    <div class="bgArea center brn bgSize-full" dragset="none" zoomset="x,y" guid="p1_v6_m1_93313677" m="m1" con="true" style="height: 448.678125px; background-image: url(http://img11.360buyimg.com/cms/jfs/t2296/200/1772786026/146633/40d698b1/56d8f876N3ea69222.jpg);" ratio="903,640">
        <span zoom="true" class="cu-z" style="display: none;"></span>
        <div id="activityRole" class="activityRole brn bgSize-full center" dragset="y" guid="p1_v6_m5_24579849" m="m5" style="top: 89.5%; line-height: 2.5rem; background-image: none;">
            <span zoom="true" class="cu-z"></span><a href="javascript:;" style="font-size: 1rem;">活动细则</a>
        </div>
    </div>
    <div class="hide" id="hd_roleText">
        <div>活动时间：2015年12月3日00:00 -2015年12月31日23:59</div>
        <div>活动平台：京东钱包APP客户端</div>
        <div>活动内容：活动期间，京东钱包用户登陆京东钱包APP-今天页面，即可参加抽奖。</div>
        <div>
            一、活动规则
            <br>
        </div>
        <div>
            1、本次大抽奖的奖品为：京东钱包账户积分、手机充值优惠券神秘礼包、万元小金库体验金（1日收益）、1元话费优惠券、1元红包、特定实物奖品。
            <br>
        </div>
        <div>
            2、同一用户每天1次抽奖机会，分享抽奖活动页面到微信朋友圈或登录朋友圈内指定活动页面，当天可再获1次抽奖机会。同一用户每天最多可获得2次抽奖机会。
            <br>
        </div>
        <div>
            3、本次活动的所有奖品，均由主办方为您代扣代缴个人所得税，您无需为此另行缴纳个税。
            <br>
        </div>
        <div>
            4、在本次活动中，同一用户累计中奖金额不能超过5000元。
            <br>
        </div>
        <div>
            5、同一京东钱包账户、同一京东钱包绑定手机号、同一身份证号、同一京东账户、同一微信账户、同一股票资金帐号、同一银行卡号等与用户身份相关的信息，满足任一条件均视为同一用户。
            <br>
        </div>
        <div>
            6、在本活动期间，如存在违规行为（包括但不限于恶意套取资金、机器作弊、虚假交易等违反诚实信用原则行为），主办方将取消您的中奖资格，并有权撤销相关违规交易和奖励，必要时追究法律责任。
            <br>
        </div>
        <div>
            7、如出现不可抗力或情势变更的情况（包括但不限于重大灾害事件、活动受政府机关指令需要停止举办或调整的、活动遭受严重网络攻击或因系统故障需要暂停举办的），京东钱包有权暂停或取消本次活动，并可依相关法律法规的规定主张免责。
            <br>
        </div>
        <div>
            8、本活动规则及其未尽事宜同时受《京东钱包服务协议》及相关公告、规则约束。
            <br>
        </div>
        <div>
            9、在法律允许的范围内，本公司对本活动有解释权。
            <br>
        </div>
        <div>10、本次活动与Apple Inc.无关。</div>
    </div>
</div>