<div id="phoneView" guid="mainScreen" class="phoneView" style="background-image: url(http://img14.360buyimg.com/cms/jfs/t2290/282/2475059347/93617/8a6f8dad/5707cf08Nb1f18711.png); background-color: rgb(252, 65, 81);">
    <div class="dragArea center cu-m" dragset="y" guid="p3_v9_m9_63386940" m="m9" con="true" style="top: 292px;">
        <span zoom="true" class="cu-z"></span>
        <div class="textAreaWrap tl" dragset="y" guid="p3_v9_m3_9723732" m="m3">
            <span role="text" style="font-size: 1rem; color: rgb(255, 255, 153); line-height: 1rem;">示例文字</span>
        </div>
    </div>
</div>